.order-pizza{
    background-color: var(--button-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    margin-top: 30px;
}

.order-pizza .order-list{
    border: 1px solid var(--darker-gray);
}

